<%- include('../partials/_header') %>	

	<div class="page-wrapper">
		<div class="background" style="background-image: url(assets/images/demos/demo-24/slider/back-1.jpg);">
			
			<%- include('../partials/userNavbar') %>	

	        <div class="slider">
	        	<div class="intro">
	        		<div class="title">
	        			<h3></h3>
	        		</div>
	        		<div class="content">
	        			<h4><i></i></h4>
	        			<!-- <h5>SEE THE WORLD THROUGH CONFIDENCE AND STYLE</h5> -->
	        		</div>
	        		<div class="action">
	        			<!-- <a href="category.html">discover now</a> -->
	        		</div>
	        	</div>
	        	
	        </div>
		</div>
		<main class="main">
			<section class="logos">
				<div class="container">
					
	                </div><!-- End .owl-carousel -->
				</div>
            </section><!-- End .container -->

            <section class="banners center">
            	<div class="container">
            		<div class="row">
            			<div class="banner col-lg-4 col-md-6 col-sm-6">
	            			<img src="assets/images/demos/demo-24/banners/banner-1.jpg">
	            			<div class="intro">
	            				<div class="title">
	            					
	            				</div>
	            				
	            				<div class="action">
	            					<a href="/shop">Mens Collection</a>
	            				</div>
	            			</div>
	            		</div>

	            		<div class="banner col-lg-4 col-md-6 col-sm-6">
	            			<img src="assets/images/demos/demo-24/banners/banner-2.jpg">
	            			<div class="intro">
	            				<div class="title">
	            					
	            				</div>
	            				
	            				<div class="action">
	            					<a href="/shop">Womens Collection</a>
	            				</div>
	            			</div>
	            		</div>

	            		<div class="banner col-lg-4  col-md-6 col-sm-6">
	            			<img src="assets/images/demos/demo-24/banners/banner-3.jpg">
	            			<div class="intro">
	            				<div class="title">
	            				
	            				</div>
	            				
	            				<div class="action">
	            					<a href="/shop">Kids Collection</a>
	            				</div>
	            			</div>
	            		</div>
            		</div>
            	</div>
            </section>

            


			<section>
				<div style="position: relative;">
				  <img src="/assets/images/demos/demo-24/care.jpg" alt="Doctor showing thumbs-up expression">
				  <div style="position: absolute; top: 75%; left: 60%; transform: translateX(-50%); background-color: rgba(255, 255, 255, 0.8); padding: 10px;">
					<p style="text-align: center; font-size: 18px;">Your vision matters to us. We are here to provide the care and support you need for brighter and healthier eyes.</p>
				  </div>
				</div>
			  </section>
			  
			  

            <section class="featured-products">
            	<div class="container">
            		<div class="heading">
	            		<p class="heading-cat">Featured Products </p>
	            		<h3 class="heading-title">NEW ARRIVALS</h3>
	            	</div>
	            	<div class="row">
	            		<div class="col-lg-7 col-md-7 products">
	            			<div class="col-6">
	            				<div class="product product-10 text-center">
		                            <figure class="product-media">
		                                <a href="product.html">
		                                    <img src="assets/images/demos/demo-24/featured-products/product-1-1.jpg" alt="Product image" class="product-image">
		                                    <img src="assets/images/demos/demo-24/featured-products/product-1-2.jpg" alt="Product image" class="product-image-hover">
		                                </a>
		                            </figure><!-- End .product-media -->
    
		                            <div class="product-body">

		                                <div class="product-action">
		                                    <a href="#" class="btn-cart"><span>add to cart</span></a>
		                                    <a href="#" class="btn-product-icon btn-wishlist"><span>Add to Wishlist</span></a>
		                                </div><!-- End .product-action -->
		                            	<div class="product-intro">
		                                    <h3 class="product-title">
		                                    	<a href="product.html">UA Spawn Low</a>
		                                    </h3><!-- End .product-title -->
		                                    <div class="product-price">
		                                        $77.99
		                                    </div><!-- End .product-price -->
		                            	</div>
		                            
		                            </div><!-- End .product-body -->
		                        </div><!-- End .product -->
	            			</div>  
	            		</div>	            		
	            	</div>
	            </div>
            </section>
				
			<div class="container">
				<div class="row">
				  <div class="col d-flex justify-content-center align-items-center">
					<img src="/assets/images/demos/demo-24/sunglass banner.png" alt="" class="img-fluid">
				  </div>
				</div>
			  </div>
			  


            <section class="instagram mb-3">
            	<div class="container">
            		<div class="heading">
            			<p class="heading-cat">Follow Us On Instagram <span class="highlight">@specxpert<span></p>
            		</div>
	            	<div class="row">
	            		<div class="col-xl-5col col-md-3 col-6 instagram-feed">
	            			<img src="assets/images/demos/demo-24/instagram/back-1.jpg">
	            			<div class="instagram-feed-content">
                                <a href="#"><i class="icon-heart-o"></i>280</a>
                                <a href="#"><i class="icon-comments"></i>22</a>
                            </div>
	            		</div>
	            		<div class="col-xl-5col col-md-3 col-6 instagram-feed">
	            			<img src="assets/images/demos/demo-24/instagram/back-2.jpg">
	            			<div class="instagram-feed-content">
                                <a href="#"><i class="icon-heart-o"></i>280</a>
                                <a href="#"><i class="icon-comments"></i>22</a>
                            </div>
	            		</div>
	            		<div class="col-xl-5col col-md-3 col-6 instagram-feed">
	            			<img src="assets/images/demos/demo-24/instagram/back-3.jpg">
	            			<div class="instagram-feed-content">
                                <a href="#"><i class="icon-heart-o"></i>280</a>
                                <a href="#"><i class="icon-comments"></i>22</a>
                            </div>
	            		</div>
	            		<div class="col-xl-5col col-md-3 col-6 instagram-feed">
	            			<img src="assets/images/demos/demo-24/instagram/back-4.jpg">
	            			<div class="instagram-feed-content">
                                <a href="#"><i class="icon-heart-o"></i>280</a>
                                <a href="#"><i class="icon-comments"></i>22</a>
                            </div>
	            		</div>
	            		<div class="col-xl-5col col-md-3 col-6 instagram-feed">
	            			<img src="assets/images/demos/demo-24/instagram/back-5.jpg">
	            			<div class="instagram-feed-content">
                                <a href="#"><i class="icon-heart-o"></i>280</a>
                                <a href="#"><i class="icon-comments"></i>22</a>
                            </div>
	            		</div>
	            	</div>
	            </div>
            </section>
		</main>

		<%- include('../partials/userFooter') %>
    </div>

    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
	<%- include('../partials/mobileMenu') %>













<script>
	setTimeout(()=>{
		document.getElementById("msg").style.display='none'
	},2000)
</script>





	<%- include('../partials/_footer') %>