<%- include('../partials/_header') %>	

	<div class="page-wrapper">
		<div class="background" style="background-image: url(assets/images/demos/demo-24/slider/back-1.jpg);">
			
			<%- include('../partials/userNavbar') %>	

	        <div class="slider">
	        	<div class="intro">
	        		<div class="title">
	        			<h3></h3>
	        		</div>
	        		<div class="content">
	        			<h4><i></i></h4>
	        			<!-- <h5>SEE THE WORLD THROUGH CONFIDENCE AND STYLE</h5> -->
	        		</div>
	        		<div class="action">
	        			<!-- <a href="category.html">discover now</a> -->
	        		</div>
	        	</div>
	        	
	        </div>
		</div>
		<main class="main">
			<section class="logos">
				<div class="container">
					
	                </div><!-- End .owl-carousel -->
				</div>
            </section><!-- End .container -->

            <section class="banners center">
            	<div class="container">
            		<div class="row">
            			<div class="banner col-lg-4 col-md-6 col-sm-6">
	            			<img src="assets/images/demos/demo-24/banners/banner-1.jpg">
	            			<div class="intro">
	            				<div class="title">
	            					
	            				</div>
	            				
	            				<div class="action">
	            					<a href="/shop">Mens Collection</a>
	            				</div>
	            			</div>
	            		</div>

	            		<div class="banner col-lg-4 col-md-6 col-sm-6">
	            			<img src="assets/images/demos/demo-24/banners/banner-2.jpg">
	            			<div class="intro">
	            				<div class="title">
	            					
	            				</div>
	            				
	            				<div class="action">
	            					<a href="/shop">Womens Collection</a>
	            				</div>
	            			</div>
	            		</div>

	            		<div class="banner col-lg-4  col-md-6 col-sm-6">
	            			<img src="assets/images/demos/demo-24/banners/banner-3.jpg">
	            			<div class="intro">
	            				<div class="title">
	            				
	            				</div>
	            				
	            				<div class="action">
	            					<a href="/shop">Kids Collection</a>
	            				</div>
	            			</div>
	            		</div>
            		</div>
            	</div>
            </section>

				
			<div class="container">
				<div class="row">
				  <div class="col d-flex justify-content-center align-items-center">
					<img src="/assets/images/demos/demo-24/sunglass banner.png" alt="" class="img-fluid">
				  </div>
				</div>
			  </div>
			  


            <section class="instagram mb-3">
            	<div class="container">
            		<div class="heading">
            			<p class="heading-cat">Follow Us On Instagram <span class="highlight">@specxpert<span></p>
            		</div>
	            	<div class="row">
	            		<div class="col-xl-5col col-md-3 col-6 instagram-feed">
	            			<img src="assets/images/demos/demo-24/instagram/back-1.jpg">
	            			<div class="instagram-feed-content">
                                <a href="#"><i class="icon-heart-o"></i>280</a>
                                <a href="#"><i class="icon-comments"></i>22</a>
                            </div>
	            		</div>
	            		<div class="col-xl-5col col-md-3 col-6 instagram-feed">
	            			<img src="assets/images/demos/demo-24/instagram/back-2.jpg">
	            			<div class="instagram-feed-content">
                                <a href="#"><i class="icon-heart-o"></i>280</a>
                                <a href="#"><i class="icon-comments"></i>22</a>
                            </div>
	            		</div>
	            		<div class="col-xl-5col col-md-3 col-6 instagram-feed">
	            			<img src="assets/images/demos/demo-24/instagram/back-3.jpg">
	            			<div class="instagram-feed-content">
                                <a href="#"><i class="icon-heart-o"></i>280</a>
                                <a href="#"><i class="icon-comments"></i>22</a>
                            </div>
	            		</div>
	            		<div class="col-xl-5col col-md-3 col-6 instagram-feed">
	            			<img src="assets/images/demos/demo-24/instagram/back-4.jpg">
	            			<div class="instagram-feed-content">
                                <a href="#"><i class="icon-heart-o"></i>280</a>
                                <a href="#"><i class="icon-comments"></i>22</a>
                            </div>
	            		</div>
	            		<div class="col-xl-5col col-md-3 col-6 instagram-feed">
	            			<img src="assets/images/demos/demo-24/instagram/back-5.jpg">
	            			<div class="instagram-feed-content">
                                <a href="#"><i class="icon-heart-o"></i>280</a>
                                <a href="#"><i class="icon-comments"></i>22</a>
                            </div>
	            		</div>
	            	</div>
	            </div>
            </section>
		</main>

		<%- include('../partials/userFooter') %>
    </div>

    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
	<%- include('../partials/mobileMenu') %>













<script>
	setTimeout(()=>{
		document.getElementById("msg").style.display='none'
	},2000)
</script>





	<%- include('../partials/_footer') %>