<%- include('../partials/_header') %>	


<style>


/* Style for the text inside the div */
#alignedDiv {
    color: #f3f3f3; /* Text color */
    font-size: 50px; /* Font size */
    font-family: Arial, sans-serif; /* Font family */
    line-height: 1; /* Line height for better spacing */
	font-weight: 700;
}

.aligned-div{
	text-align: left;
}

</style>
	<div class="page-wrapper">
		<div class="background" style="background-image: url(/assets/images/banner.jpg);">
			
			<%- include('../partials/userNavbar') %>	
	        	<div class="intro">
					<div class="aligned-div">
						<p id="alignedDiv" class="p-5">SEE THE WORLD <br>THROUGH <br> CONFIDENCE AND STYLE</p>
					</div>
	        		
	        	</div>
	        	
	       
		</div>
		<main class="main">
			
			
				<div class="container p-5">
					<div class="row">
						<div class="col-md-6">
							<div class="banner banner-cat">
								<a href="#">
									<img src="/assets/images/demos/demo-24/banners/banner-2.jpg" alt="Banner">
								</a>
		
								<div class="banner-content">
									<h3 class="banner-title">Women</h3><!-- End .banner-title -->
									<h4 class="banner-subtitle">18 Products</h4><!-- End .banner-subtitle -->
									<a href="/shop" class="banner-link text-white">Shop Now</a>
								</div><!-- End .banner-content -->
							</div><!-- End .banner -->
						</div><!-- End .col-md-6 -->
		
						<div class="col-md-6">
							<div class="banner banner-cat">
								<a href="#">
									<img src="/assets/images/demos/demo-24/banners/banner-1.jpg" alt="Banner">
								</a>
		
								<div class="banner-content">
									<h3 class="banner-title">Men</h3><!-- End .banner-title -->
									<h4 class="banner-subtitle">12 Products</h4><!-- End .banner-subtitle -->
									<a href="/shop" class="banner-link text-white">Shop Now</a>
								</div><!-- End .banner-content -->
							</div><!-- End .banner -->
						</div><!-- End .col-md-6 -->
					</div><!-- End .row -->
				</div><!-- End .container -->
			

				
			<div class="container">
				<div class="row">
				  <div class="col d-flex justify-content-center align-items-center">
					<img src="/assets/images/demos/demo-24/sunglass banner.png" alt="" class="img-fluid">
				  </div>
				</div>
			  </div>
			  


            <!-- <section class="instagram mb-3">
            	<div class="container">
            		<div class="heading">
            			<p class="heading-cat">Follow Us On Instagram <span class="highlight">@specxpert<span></p>
            		</div>
	            	<div class="row">
	            		<div class="col-xl-5col col-md-3 col-6 instagram-feed">
	            			<img src="assets/images/demos/demo-24/instagram/back-1.jpg">
	            			<div class="instagram-feed-content">
                                <a href="#"><i class="icon-heart-o"></i>280</a>
                                <a href="#"><i class="icon-comments"></i>22</a>
                            </div>
	            		</div>
	            		<div class="col-xl-5col col-md-3 col-6 instagram-feed">
	            			<img src="assets/images/demos/demo-24/instagram/back-2.jpg">
	            			<div class="instagram-feed-content">
                                <a href="#"><i class="icon-heart-o"></i>280</a>
                                <a href="#"><i class="icon-comments"></i>22</a>
                            </div>
	            		</div>
	            		<div class="col-xl-5col col-md-3 col-6 instagram-feed">
	            			<img src="assets/images/demos/demo-24/instagram/back-3.jpg">
	            			<div class="instagram-feed-content">
                                <a href="#"><i class="icon-heart-o"></i>280</a>
                                <a href="#"><i class="icon-comments"></i>22</a>
                            </div>
	            		</div>
	            		<div class="col-xl-5col col-md-3 col-6 instagram-feed">
	            			<img src="assets/images/demos/demo-24/instagram/back-4.jpg">
	            			<div class="instagram-feed-content">
                                <a href="#"><i class="icon-heart-o"></i>280</a>
                                <a href="#"><i class="icon-comments"></i>22</a>
                            </div>
	            		</div>
	            		<div class="col-xl-5col col-md-3 col-6 instagram-feed">
	            			<img src="assets/images/demos/demo-24/instagram/back-5.jpg">
	            			<div class="instagram-feed-content">
                                <a href="#"><i class="icon-heart-o"></i>280</a>
                                <a href="#"><i class="icon-comments"></i>22</a>
                            </div>
	            		</div>
	            	</div>
	            </div>
            </section> -->
		</main>

		<%- include('../partials/userFooter') %>
    </div>

    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
	<%- include('../partials/mobileMenu') %>













<script>
	setTimeout(()=>{
		document.getElementById("msg").style.display='none'
	},2000)
</script>





	<%- include('../partials/_footer') %>