
<%- include('../partials/_header') %>
    <div class="page-wrapper">
        <div class="background" style="background-image: url(/assets/images/page-header-bg.jpg);">
        <%- include('../partials/userNavbar') %>
    </div><!-- End .page-header -->
    
        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">shop</a></li>
                        <li class="breadcrumb-item"><a href="#">Product view</a></li>
                 
                    </ol>

                    
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                    <div class="product-details-top">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-gallery product-gallery-vertical">
                                    <div class="row">
                                        <figure class="product-main-image">
                                            <img id="product-zoom" src="/<%= product.image[0] %>" data-zoom-image="/<%= product.originalImage[0] %>" alt="product image">
                                        </figure>
                                        <div id="product-zoom-gallery" class="product-image-gallery">
                                            <% for (let i = 0; i < product.image.length; i++) { %>
                                                <a class="product-gallery-item" href="#" data-image="/<%= product.image[i] %>" data-zoom-image="/<%= product.originalImage[i] %>">
                                                    <img src="/<%= product.image[i] %>" alt="product image <%= i %>">
                                                </a>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
            
                            <div class="col-md-6">
                                <div class="product-details">
                                    <h1 class="product-title"><%= product.name %></h1>
                                    
                                    <div class="product-price">
                                        Price: <%= product.price %>
                                    </div>
                                    
                                    <div class="details-filter-row details-row-size">
                                        <label for="size">Size:</label>
                                        <a>Free Size</a>
                                    </div>
                                    
                                    <div class="details-filter-row details-row-size">
                                        <label for="qty">Stock:</label>
                                        <div class="product-details-quantity">
                                            <a><%= product.stock %> left</a>
                                        </div>
                                    </div>
                                    
                                    <div class="mt-4 mb-4">
                                        <p class="font-weight-bold">Product Info:</p>
                                        <p><%= product.description %></p>
                                    </div>
                                    
                                    <div class="product-details-action mb-4">
                                        <a href="#" class="btn-product btn-cart" data-product-id="<%= product._id %>"><span>Add to Cart</span></a>
                                        <div class="details-action-wrapper">
                                            <a href="#" class="btn-product btn-wishlist" title="Wishlist" data-product-id="<%= product._id %>"><span>Add to Wishlist</span></a>
                                        </div>
                                    </div>
                                    
                                    <div class="product-details-footer">
                                        <div class="product-cat">
                                            <span>Category:</span>
                                            <a href="#"><%= product.category %></a>
                                        </div>
                                        
                                        <div class="social-icons social-icons-sm">
                                            <span class="social-label">Share:</span>
                                            <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                            <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                            <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                            <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
            
        </main><!-- End .main -->

        <%- include('../partials/userFooter') %>
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

   
    <%- include('../partials/mobileMenu') %>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Add this script at the end of your HTML file, after including jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        // Handle click events on gallery items
        $('.product-gallery-item').on('click', function (e) {
            e.preventDefault();

            // Update the main image and zoom image
            var dataImage = $(this).data('image');
            var dataZoomImage = $(this).data('zoom-image');
           

            // Update the main image and its zoomed version
            $("#product-zoom")
                .attr('src', dataImage)
                .attr('data-zoom-image', dataZoomImage);
        });
    });
</script>



    <script>
        // Assuming you have already imported Axios and SweetAlert in your project
      
        document.addEventListener('DOMContentLoaded', function() {
          const addToCartButtons = document.querySelectorAll('.btn-cart');
      
          addToCartButtons.forEach(function(button) {
            button.addEventListener('click', function(event) {
              event.preventDefault();
      
              const productId = this.getAttribute('data-product-id');
      
              axios.post('/addToCart/' + productId)
                .then(function(response) {
                  console.log(response.data,"hamdan");
      
                  // Show success message using SweetAlert
                  Swal.fire({
                    title: "Success",
                    text: "Product added to cart successfully",
                    icon: "success",
                    confirmButtonText: "OK"
                  });
      
                })
                .catch(function(error) {
                  console.error(error);
                });
            });
          });
        });
      
    document.addEventListener('DOMContentLoaded', function() {
      const addToWishlistButtons = document.querySelectorAll('.btn-wishlist');
  
      addToWishlistButtons.forEach(function(button) {
        button.addEventListener('click', function(event) {
          event.preventDefault();
  
          const productId = this.getAttribute('data-product-id');
          
          axios.post('/addToWishlist/' + productId)
            .then(function(response) {
              console.log(response.data);
  
              // Show success message using SweetAlert
              Swal.fire({
                title: "Success",
                text: "Product added to wishlist successfully",
                icon: "success",
                confirmButtonText: "OK"
              });
  
            })
            .catch(function(error) {
              console.error(error);
            });
        });
      });
    });
  </script>
    <!-- Plugins JS File -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/assets/js/jquery.elevateZoom.min.js"></script>
    <script src="/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Main JS File -->
    <script src="/assets/js/main.js"></script>
</body>



</html>